.footer {
  background-color: #000;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin:  0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 100px;
}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
}

.footer-contato li {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 30px;
}

.footer-contato li a {
  color: #fff;
}

.footer-contato li a:hover {
  color: #8F8F8F;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color:#8F8F8F
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-contato li {
    font-size: 1.5rem;
  }
}