.formacao {
  background: #141414;
  color: #FFFFFF;
}

.formacao-container {
  max-width: 75rem;
  padding: 7.5rem 1.25rem;
  margin:  0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.25rem;
  position: relative;
}

.formacao-container::after {
  display: block;
  background: url("../image/detalhe.svg") no-repeat center center;
  content: "";
  position: absolute;
  width: 8.125rem;
  height: 6.25rem;
  left: 1.25rem;
  bottom: -3.125rem;
}

.formacao .subtitulo {
  color: #000000; 
  max-width: 2.5ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 3.75rem;
  color: #A3A3A3;
}

.formacao-texto strong {
  color: #FFFFFF;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-bottom: 3.75rem;
}

.faculdade:hover {
  background-color: #FFF;
  color: #000;
  transition: linear 1s;
}

.faculdade {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #000000;
  position: relative;
  border-radius: 0.25rem;
  padding: 1.25rem;
}

.faculdade-tipo  {
  font-size: 0.875rem;
  color: #A3A3A3;
  text-transform: uppercase;
  padding-bottom: 0.625rem;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 2.5rem;
}

.faculdade-curso::before {
  content: "";
  position: absolute;
  width: 0.25rem;
  height: 1.25rem;
  left: -0.25rem;
  background: linear-gradient(180deg, #B6F829 0%, #67DD0A 100%);
}

.faculdade-instituicao {
  font-family: 1.125rem;
  color: #A3A3A3;
}

.cursos {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.75rem;
}

.formacao-extra h3 {
  display: block;
  position: relative;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #8F8F8F;
  margin-bottom: 1.875rem;
}

.formacao-extra h3::before {
  display: block;
  content: "";
  position: absolute;
  left: -2.25rem;
  top: -0.25rem;
  width: 1.5rem;
  height: 1.5rem;
}

.cursos h3::before {
  background: url("../image/cursos.svg") no-repeat center center;
}

.idiomas h3::before {
  background: url("../image/idiomas.svg") no-repeat center center;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 1.25rem;
}

.formacao-extra span {
  color: #8F8F8F;
  justify-content: end;
  align-items: center;
}

.formacao-extra li a {
  color: #FFF;
}

.formacao-extra li a:hover {
  color: #000;
  font-weight: bold;
  transition: linear 0.5s;
}

.formacao-extra li:hover {
  color: #000;
  font-weight: bold;
  transition: linear 0.5s;
  cursor: pointer;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 3.75rem 1.25rem;
    gap: 2.5rem;
  }

  .formacao .subtitulo {
    color: #FFFFFF;
  }

  .formacao-texto {
    font-size: 1.25rem;
  }

  .formacao-extra h3::before {
    position: static;
    margin-bottom: 0.625rem;
  }
}



