* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Fira Sans', Arial, sans-serif;
  color: #141414;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  width: 0.625rem;
}

body::-webkit-scrollbar-track {
  background: #000;
}
  
body::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #B6F829 0%, #67DD0A 100%);  
  border-radius: 1.875rem;
}

a {
  color: #141414;
  text-decoration: none;
}

ul {
  list-style: none;
}

img, video {
  display: block;
  max-width: 100%;
  height: auto;
}

.subtitulo {
  align-self: center;
  max-width: 2.5ch;
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  text-align: left;
  color: #E0E0E0;
  word-break:break-all;
}

.botao-voltar {
  position: fixed;
  bottom: 0.625rem;
  right: 0.625rem;
}

.botao-voltar img {
  width: 2.5rem;
  border-radius: 0.3125rem;
  background-color: #000;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}