.introducao {
  display: grid;
  max-width: 75rem;
  padding: 3.125rem 1.25rem;
  margin: 0 auto;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 6.25rem;
  align-items: center;
  justify-content: center;
}

.introducao img {
  display: block;
  width: 15.625rem;
  margin-left: 5vw;
  border-radius: 1.25rem 2.5rem;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 1.875rem;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 8.125rem;
  height: 6.25rem;
  position: absolute;
  background: url("../image/detalhe.svg") no-repeat center center;
  top: -1.25rem;
  left: -2.5rem;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }

  .introducao h1 {
    font-size: 2rem;
  }

  .introducao h1::before {
    height: 0.4375rem;
    width: 9.375rem;
    left: -2.5rem;
    top: -0.625rem;
  }
}

@media (max-width: 400px) {
.introducao {
  grid-template-columns: 1fr;
}

  .introducao img {
    display: none;
  }
}